# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [17]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os


# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [18]:
city_data = pd.read_csv ('City.csv')
city_data

,City Name,Latitude,Longitude,Temperature,Wind Speed,Cloudiness,Humidity,Country,Date
0,sinnamary,5.3833,-52.9500,80.92,9.48,99,80,GF,1650918158
1,dingle,10.9995,122.6711,78.01,6.93,48,88,PH,1650918158
2,rikitea,-23.1203,-134.9692,77.16,15.70,76,72,PF,1650917936
3,mezen,65.8522,44.2400,33.21,5.01,100,90,RU,1650918159
4,marawi,7.9986,124.2928,69.93,2.98,100,91,PH,1650918159
...,...,...,...,...,...,...,...,...,...
559,adre,13.4667,22.2000,85.53,8.63,100,29,TD,1650918381
560,sabang,5.8933,95.3214,82.27,18.28,100,78,ID,1650918346
561,hlobyne,49.3878,33.2596,60.10,11.97,100,68,UA,1650918382
562,nisia floresta,-6.0911,-35.2086,84.58,9.60,35,81,BR,1650918383
563,el transito,13.3500,-88.3500,92.86,6.46,63,51,SV,1650918383

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [20]:
z

AttributeError: 'DataFrame' object has no attribute 'Name'

,City Name,Latitude,Longitude,Temperature,Wind Speed,Cloudiness,Humidity,Country,Date
1,dingle,10.9995,122.6711,78.01,6.93,48,88,PH,1650918158
2,rikitea,-23.1203,-134.9692,77.16,15.70,76,72,PF,1650917936
10,sechura,-5.5569,-80.8222,79.88,12.55,26,58,PE,1650918162
18,lompoc,34.6391,-120.4579,70.45,18.41,0,59,US,1650918135
19,chabua,27.4825,95.1736,70.02,4.41,12,77,IN,1650918166
...,...,...,...,...,...,...,...,...,...
529,puerto baquerizo moreno,-0.9000,-89.6000,79.79,11.50,75,65,EC,1650918369
535,fallon,39.4735,-118.7774,71.11,11.50,75,12,US,1650918371
549,ambilobe,-13.2000,49.0500,73.24,4.32,98,83,MG,1650918377
552,rio negro,-26.1058,-49.7975,70.12,1.97,71,69,BR,1650918378
558,qalyub,30.1792,31.2056,73.90,11.27,3,56,EG,1650918381

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [23]:
ideal_weather = city_data.loc[(city_data['Temperature'] >= 70) & (city_data['Temperature'] <= 80)]

ideal_weather

,City Name,Latitude,Longitude,Temperature,Wind Speed,Cloudiness,Humidity,Country,Date
1,dingle,10.9995,122.6711,78.01,6.93,48,88,PH,1650918158
2,rikitea,-23.1203,-134.9692,77.16,15.70,76,72,PF,1650917936
10,sechura,-5.5569,-80.8222,79.88,12.55,26,58,PE,1650918162
18,lompoc,34.6391,-120.4579,70.45,18.41,0,59,US,1650918135
19,chabua,27.4825,95.1736,70.02,4.41,12,77,IN,1650918166
...,...,...,...,...,...,...,...,...,...
529,puerto baquerizo moreno,-0.9000,-89.6000,79.79,11.50,75,65,EC,1650918369
535,fallon,39.4735,-118.7774,71.11,11.50,75,12,US,1650918371
549,ambilobe,-13.2000,49.0500,73.24,4.32,98,83,MG,1650918377
552,rio negro,-26.1058,-49.7975,70.12,1.97,71,69,BR,1650918378
558,qalyub,30.1792,31.2056,73.90,11.27,3,56,EG,1650918381

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
hotel_df['name'] = ""
hotel_df['address'] = ""
hotel_df['price_level'] = ""
hotel_df['rating'] = ""

types_df.head()

In [ ]:
# find the closest restaurant of each type to coordinates

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "location": "39.952583,-75.16522",  # philadelphia coords
    "rankby": "distance",
    "type": "restaurant",
    "key": gkey,
}
# use iterrows to iterate through pandas dataframe
for index, row in types_df.iterrows():

    # get restaurant type from df
    restr_type = row['ethnicity']

    # add keyword to params dict
    params['keyword'] = restr_type

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {restr_type}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        print(f"Closest {restr_type} restaurant is {results[0]['name']}.")
        
        types_df.loc[index, 'name'] = results[0]['name']
        types_df.loc[index, 'address'] = results[0]['vicinity']
        types_df.loc[index, 'price_level'] = results[0]['price_level']
        types_df.loc[index, 'rating'] = results[0]['rating']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure