# WeatherPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
!pip install citipy

Requirement already satisfied: citipy in /Users/andrealynnbaker/opt/anaconda3/lib/python3.9/site-packages (0.0.5)
Requirement already satisfied: kdtree>=0.12 in /Users/andrealynnbaker/opt/anaconda3/lib/python3.9/site-packages (from citipy) (0.16)

In [2]:
 !pip install config

Requirement already satisfied: config in /Users/andrealynnbaker/opt/anaconda3/lib/python3.9/site-packages (0.5.1)

In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress



# Import API key
from api_keys import weather_api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

## Generate Cities List

In [4]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(lat_range[0], lat_range[1], size=1500)
lngs = np.random.uniform(lng_range[0], lng_range[1], size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

610

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [6]:

url = "http://api.openweathermap.org/data/2.5/weather?"
units = "imperial"
# query_url = f"{url}appid={weather_api_key }&q={city}&units={units}"
# #
# # Get weather data
# weather_response = requests.get(query_url)
#weather_json = weather_response.json()

# print(weather_json)

lat = []
lon = []
temperatures = []
wind_speed = []
clouds = []
humidity = []
country = []
date = []
cities_found = []

city_count = 0

for city in cities:
     
   
    query_url = url + "appid=" + weather_api_key + "&q=" + city + "&units=imperial"

    try:
        weather_response = requests.get(query_url)
        weather_json = weather_response.json()

    
        lon.append(weather_json["coord"]["lon"])
        lat.append(weather_json["coord"]["lat"])
        
        temperatures.append(weather_json["main"]["temp"])
        wind_speed.append(weather_json["wind"]["speed"])
        clouds.append(weather_json["clouds"]["all"])
        humidity.append(weather_json["main"]["humidity"])
        country.append(weather_json["sys"]["country"])
        date.append(weather_json["dt"])
        cities_found.append(city)
        
        city_count = city_count + 1
        print("city: " + city + " " + str(city_count) )
    except:
        print("not found " + city)

city: rikitea 1
city: khatanga 2
city: albany 3
city: chegem 4
city: najran 5
city: butaritari 6
city: new norfolk 7
city: bluff 8
city: ushuaia 9
city: bilma 10
city: jabinyanah 11
city: atuona 12
not found samusu
city: selikhino 13
city: tuatapere 14
city: kapaa 15
city: kurud 16
city: hofn 17
city: eden 18
city: makakilo city 19
city: tuktoyaktuk 20
city: mattru 21
city: qaanaaq 22
city: yellowknife 23
city: broken hill 24
city: lebu 25
city: whitehorse 26
city: busselton 27
city: marshall 28
city: hailar 29
not found felidhoo
city: maneadero 30
city: sitka 31
city: sarankhola 32
city: monroe 33
not found nizhneyansk
city: sumbe 34
not found stoyba
city: thompson 35
city: abha 36
city: mataura 37
city: ilheus 38
city: tilichiki 39
city: katsuura 40
city: hobart 41
city: ibra 42
city: pangnirtung 43
city: ketchikan 44
city: upernavik 45
city: punta arenas 46
city: hilo 47
city: arraial do cabo 48
city: vardo 49
city: east london 50
city: kaitangata 51
city: bubaque 52
city: cidreira 53
city: tasiilaq 54
city: the valley 55
city: sao filipe 56
city: vaini 57
not found samalaeulu
city: eatonton 58
city: kodiak 59
city: cap malheureux 60
city: haines junction 61
city: provideniya 62
city: lorengau 63
city: ostrowiec swietokrzyski 64
not found sentyabrskiy
city: deputatskiy 65
city: lasa 66
city: port alfred 67
city: brae 68
city: asfi 69
not found barentsburg
city: sicamous 70
city: amapa 71
city: aitape 72
city: saldanha 73
city: tiksi 74
city: bambous virieux 75
city: bandarbeyla 76
city: puerto ayora 77
city: smithers 78
city: lufilufi 79
city: killybegs 80
city: kosonsoy 81
city: touros 82
city: skelleftea 83
city: ribeira grande 84
city: storforshei 85
city: alofi 86
city: luderitz 87
city: soavinandriana 88
city: faya 89
city: hohhot 90
city: hithadhoo 91
not found illoqqortoormiut
city: qiongshan 92
city: kenai 93
city: jamestown 94
city: pudozh 95
city: vero beach 96
city: port elizabeth 97
city: kapoeta 98
city: carnarvon 99
city: pilar 100
city: avarua 101
city: partizanskoye 102
city: monte carmelo 103
city: bonthe 104
not found mys shmidta
not found warqla
city: chokurdakh 105
city: gat 106
city: narsaq 107
city: mudgee 108
city: lagoa 109
city: cerro largo 110
city: sungaipenuh 111
city: bredasdorp 112
city: canico 113
not found aporawan
city: poum 114
city: kirakira 115
not found saleaula
city: esperance 116
city: grindavik 117
city: kruisfontein 118
not found talawdi
not found taolanaro
city: meulaboh 119
city: beibei 120
city: acapulco 121
city: tamiahua 122
city: richards bay 123
city: nouadhibou 124
city: mahebourg 125
city: saskylakh 126
city: tamsweg 127
city: umm kaddadah 128
city: kiama 129
city: anchorage 130
not found karkaralinsk
city: carupano 131
not found bossembele
city: bathsheba 132
city: rodos 133
city: cockburn town 134
city: ewa beach 135
city: asau 136
city: sabang 137
city: hami 138
city: nago 139
city: tateyama 140
city: fort nelson 141
not found fevralsk
city: kavaratti 142
city: guerrero negro 143
city: kavieng 144
city: kijabe 145
city: barrow 146
not found tsihombe
city: bethel 147
city: saint george 148
city: tura 149
city: suez 150
city: umtata 151
city: voh 152
city: kloulklubed 153
not found grand river south east
city: nuuk 154
city: yerbogachen 155
city: koslan 156
city: pevek 157
not found formoso do araguaia
city: hermanus 158
city: motril 159
city: aklavik 160
city: beloha 161
not found attawapiskat
city: vitim 162
city: osakarovka 163
city: beringovskiy 164
city: cozumel 165
city: harrisonburg 166
city: meru 167
city: puerto del rosario 168
city: bonoua 169
city: lipin bor 170
not found suao
city: padang 171
city: san cristobal 172
city: sibu 173
city: fianarantsoa 174
city: bata 175
city: cabo san lucas 176
not found taburi
city: bontang 177
not found paradwip
city: geraldton 178
city: tucurui 179
city: faanui 180
city: saint-philippe 181
city: iralaya 182
not found mithimna
city: lata 183
city: ponta do sol 184
city: grand gaube 185
city: meadow lake 186
city: tomatlan 187
city: boa vista 188
city: willowmore 189
city: dire dawa 190
city: comodoro rivadavia 191
city: angoche 192
city: nikolskoye 193
city: kyshtovka 194
city: katobu 195
not found belushya guba
city: russellville 196
city: biltine 197
city: starobaltachevo 198
city: estancia 199
city: high rock 200
city: bowral 201
city: hasaki 202
city: cape town 203
city: norman wells 204
city: nanortalik 205
city: joao pinheiro 206
city: changde 207
city: banikoara 208
city: rockland 209
city: funtua 210
city: dikson 211
city: severo-kurilsk 212
city: pizarro 213
city: ukiah 214
city: iki-burul 215
city: vila velha 216
not found vaitupu
city: ixtapa 217
city: altay 218
city: constitucion 219
city: halifax 220
city: balrampur 221
city: kropotkin 222
city: los llanos de aridane 223
city: kochevo 224
city: isangel 225
city: sorland 226
city: mar del plata 227
city: dawson creek 228
city: kutum 229
city: victoria 230
city: vieste 231
city: kaeo 232
not found umzimvubu
city: hobyo 233
city: mersing 234
city: balabac 235
city: vestmanna 236
city: iquique 237
city: holovyne 238
city: qasigiannguit 239
city: naze 240
city: tucupita 241
city: mercedes 242
city: pacific grove 243
city: baytown 244
city: petauke 245
city: banda aceh 246
city: salinopolis 247
not found tapaua
city: khandwa 248
city: dauphin 249
city: lompoc 250
city: ulladulla 251
city: ravar 252
not found linchuan
city: codrington 253
city: ancud 254
city: turbat 255
city: soc trang 256
city: ferrol 257
city: sao desiderio 258
not found darya khan mari
city: fallon 259
city: castro 260
city: lavrentiya 261
city: baruun-urt 262
city: simpang 263
city: saint anthony 264
not found huazolotitlan
city: buala 265
city: port hardy 266
city: aksay 267
city: taltal 268
city: marsa matruh 269
city: chuy 270
city: toledo 271
city: klaksvik 272
city: cuamba 273
city: paamiut 274
city: shimoda 275
city: orlik 276
city: cranbrook 277
city: shitanjing 278
city: kahului 279
city: longyearbyen 280
city: berlevag 281
city: karratha 282
city: santa rosa 283
city: shieli 284
city: dunedin 285
not found verkhne-katunskoye
city: la gomera 286
city: cherskiy 287
city: georgetown 288
city: mala vyska 289
city: majene 290
city: souillac 291
city: iskateley 292
city: kamaishi 293
city: chebenki 294
city: necochea 295
city: lazurne 296
city: makokou 297
city: staryy nadym 298
not found gazni
city: yamada 299
city: zyryanka 300
city: iqaluit 301
city: airai 302
city: umm lajj 303
not found amderma
city: samarai 304
city: lac du bonnet 305
city: chicama 306
city: manta 307
city: cocobeach 308
city: korla 309
city: tommot 310
city: camacha 311
city: filingue 312
city: nemuro 313
city: coquimbo 314
city: courtenay 315
city: morant bay 316
city: kendari 317
city: rurrenabaque 318
city: jiuquan 319
city: aksu 320
city: christchurch 321
city: tabuk 322
city: kasama 323
city: zabol 324
not found tome-acu
city: jutai 325
city: viedma 326
city: daru 327
city: bundaberg 328
city: teguise 329
city: pisco 330
city: azul 331
city: muzhi 332
city: royal tunbridge wells 333
city: plettenberg bay 334
city: kokopo 335
city: taoudenni 336
city: ranot 337
not found tarudant
city: middletown 338
city: cerritos 339
city: port macquarie 340
city: teya 341
city: filadelfia 342
city: road town 343
city: tubuala 344
city: puerto leguizamo 345
city: la asuncion 346
city: broome 347
city: chara 348
city: mangai 349
city: palaikastron 350
city: plouzane 351
city: laguna 352
city: tabou 353
city: churapcha 354
city: digby 355
city: portland 356
city: ploemeur 357
city: torbay 358
city: boma 359
city: mapiripan 360
city: kjopsvik 361
city: madera 362
city: nioro 363
city: sobolevo 364
city: planos 365
city: mayo 366
city: tucumcari 367
city: ambon 368
city: praia da vitoria 369
city: port lincoln 370
city: batemans bay 371
city: fukue 372
city: port-gentil 373
city: the pas 374
city: sambava 375
city: dalmatovo 376
city: olafsvik 377
not found tumannyy
city: saint-gaudens 378
city: roald 379
city: hay river 380
city: pravdinskiy 381
city: bengkulu 382
city: erzin 383
city: bukama 384
city: mount isa 385
city: basco 386
not found burica
not found marcona
city: markova 387
city: nyrob 388
city: moindou 389
city: salalah 390
city: shingu 391

city: petropavlovsk-kamchatskiy 392
city: ballina 393
city: kaoma 394
city: chimbote 395
city: bartica 396
city: cadiz 397
city: muros 398
city: karabulak 399
city: robertsport 400
city: kununurra 401
city: homer 402
city: kalininaul 403
city: ayan 404
city: sechura 405
not found ozgon
city: ilulissat 406
city: new richmond 407
city: kodinsk 408
city: tessalit 409
city: banjarmasin 410
not found kamenskoye
city: inhumas 411
city: staraya poltavka 412
city: belozerskoye 413
city: staraya kupavna 414
city: domoni 415
city: simao 416
not found utiroa
city: charters towers 417
city: russell 418
city: nizhniy tsasuchey 419
city: bac lieu 420
city: bairiki 421
not found artyk
city: port augusta 422
city: damaturu 423
city: cascais 424
city: recreio 425
city: skala fourkas 426
city: hyeres 427
not found abu jubayhah
city: nome 428
city: kota kinabalu 429
city: qui nhon 430
city: santa luzia 431
city: ziro 432
city: vestmannaeyjar 433
city: agirish 434
city: erenhot 435
city: ashland 436
city: tianpeng 437
not found macaboboni
city: sosnovo-ozerskoye 438
city: hillsborough 439
city: palmer 440
city: sindor 441
city: talnakh 442
city: madinat sittah uktubar 443
city: phan thiet 444
city: banon 445
city: kharan 446
city: atambua 447
city: nevsehir 448
city: eureka 449
city: pinawa 450
city: pitimbu 451
city: pechora 452
not found halalo
city: dudinka 453
city: sydney 454
city: la ronge 455
city: kieta 456
city: yazman 457
city: zarubino 458
city: leningradskiy 459
city: vostok 460
city: kyra 461
city: sola 462
city: san carlos de bariloche 463
city: puerto escondido 464
city: hambantota 465
city: lucea 466
city: mackay 467
city: sinop 468
city: goderich 469
city: uthal 470
city: narrabri 471
city: traralgon 472
city: pemagatsel 473
not found one hundred mile house
city: coihaique 474
city: ugoofaaru 475
city: nouakchott 476
city: harper 477
city: tonekabon 478
city: paita 479
city: san policarpo 480
city: bereda 481
city: matagami 482
city: hovd 483
city: vila franca do campo 484
city: champerico 485
city: zeya 486
not found khonuu
city: muroto 487
city: half moon bay 488
city: atbasar 489
city: vanimo 490
city: iracoubo 491
city: tingi 492
city: gazojak 493
city: osoyoos 494
city: ruwi 495
city: suzun 496
city: sojat 497
city: lardos 498
city: svilajnac 499
city: edd 500
city: vallenar 501
city: west richland 502
city: aswan 503
city: nishihara 504
city: yulara 505
city: davidson 506
city: batagay-alyta 507
city: riihimaki 508
not found phrai bung
city: pendleton 509
city: mogadishu 510
city: hamina 511
city: katherine 512
city: itaguai 513
city: westport 514
city: fortuna 515
city: turinsk 516
city: ahipara 517
city: lamar 518
city: formosa do rio preto 519
city: narino 520
city: havelock 521
not found rungata
city: kushmurun 522
city: verkhnevilyuysk 523
city: tiarei 524
city: dingle 525
city: requena 526
city: colonia 527
city: saharsa 528
city: svirsk 529
city: byron bay 530
city: mabaruma 531
city: carballo 532
city: maniitsoq 533
city: atlantic city 534
city: townsville 535
city: san patricio 536
city: ulaangom 537
city: mustang 538
city: bazpur 539
city: mayumba 540
city: cowra 541
city: ambilobe 542
city: benjamin aceval 543
city: lakes entrance 544
city: lumberton 545
city: lubango 546
city: cape coast 547
not found wazzan
city: kosh-agach 548
city: marovoay 549
city: guaraniacu 550
city: severobaykalsk 551
not found kuche
city: stony plain 552
city: miyako 553
city: chincholi 554
city: tiznit 555
not found milingimbi
city: namibe 556

,City Name,Latitude,Longitude,Temerature,Wind Speed,Clouds,Humidity,Country,Date
0,rikitea,-23.1203,-134.9692,74.77,5.53,100,76,PF,1650725743
1,khatanga,71.9667,102.5000,-3.39,3.29,18,99,RU,1650725743
2,albany,42.6001,-73.9662,48.49,3.00,51,44,US,1650725506
3,chegem,43.2833,43.1333,40.69,2.55,57,66,RU,1650725743
4,najran,17.4924,44.1277,93.85,16.75,83,14,SA,1650725530
...,...,...,...,...,...,...,...,...,...
551,stony plain,53.5334,-114.0021,36.41,3.44,75,88,CA,1650725958
552,miyako,39.6367,141.9525,44.33,4.16,11,74,JP,1650725959
553,chincholi,17.4667,77.4333,91.04,6.20,60,33,IN,1650725959
554,tiznit,29.5833,-9.5000,63.68,16.24,48,47,MA,1650725959
555,namibe,-15.1961,12.1522,75.83,19.57,20,73,AO,1650725960

In [7]:
city_df = pd.DataFrame({
                        "City Name": cities_found,
                        "Latitude": lat,
                        "Longitude": lon,
                        "Temerature": temperatures,  
                        "Wind Speed": wind_speed,
                        "Clouds": clouds,
                        "Humidity": humidity,
                        "Country": country,
    
                        "Date": date
                        
                        
                        })    


    
city_df

,City Name,Latitude,Longitude,Temerature,Wind Speed,Clouds,Humidity,Country,Date
0,rikitea,-23.1203,-134.9692,74.77,5.53,100,76,PF,1650725743
1,khatanga,71.9667,102.5000,-3.39,3.29,18,99,RU,1650725743
2,albany,42.6001,-73.9662,48.49,3.00,51,44,US,1650725506
3,chegem,43.2833,43.1333,40.69,2.55,57,66,RU,1650725743
4,najran,17.4924,44.1277,93.85,16.75,83,14,SA,1650725530
...,...,...,...,...,...,...,...,...,...
551,stony plain,53.5334,-114.0021,36.41,3.44,75,88,CA,1650725958
552,miyako,39.6367,141.9525,44.33,4.16,11,74,JP,1650725959
553,chincholi,17.4667,77.4333,91.04,6.20,60,33,IN,1650725959
554,tiznit,29.5833,-9.5000,63.68,16.24,48,47,MA,1650725959
555,namibe,-15.1961,12.1522,75.83,19.57,20,73,AO,1650725960

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

## Inspect the data and remove the cities where the humidity > 100%.
----
Skip this step if there are no cities that have humidity > 100%.

In [ ]:
#  Get the indices of cities that have humidity over 100%.

In [ ]:
# Make a new DataFrame equal to the city data to drop all humidity outliers by index.
# Passing "inplace=False" will make a copy of the city_data DataFrame, which we call "clean_city_data".

## Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

## Latitude vs. Temperature Plot

## Latitude vs. Humidity Plot

## Latitude vs. Cloudiness Plot

## Latitude vs. Wind Speed Plot

## Linear Regression

####  Northern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Southern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Northern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression

####  Southern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression